				<h2>Товары</h2>
				<table id="products" class="table table-striped table-bordered">
					<tr>
						<th>
							Наименование
						</th>
						<th>
							Описание
						</th>
						<th>
							На складе
						</th>
						<th>
							Цена
						</th>
					</tr>
				</table>